<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lineedit_history_choose_library_dialog</key>
	<array>
		<string>/home/said/Documents/Calibre Library</string>
		<string>/home/said/Documents</string>
	</array>
	<key>lineedit_history_regex_edit_sr_search</key>
	<array>
		<string>&lt;br&gt;$</string>
		<string>\d+&lt;br&gt;\n

</string>
	</array>
	<key>lineedit_history_tag_list_search_box_Tags</key>
	<array/>
	<key>lineedit_history_xpath_edit_opt_page_breaks_before</key>
	<array/>
	<key>lineedit_history_xpath_edit_opt_start_reading_at</key>
	<array/>
</dict>
</plist>
